.metadata/
/.project
IfsCars/.classpath
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd.bak
IfsCarsService/WebContent/WEB-INF/server-config.wsdd
IfsCarsService/WebContent/wsdl/Garage.wsdl
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat v7.0 Server at localhost-config/catalina.policy
Servers/Tomcat v7.0 Server at localhost-config/catalina.properties
Servers/Tomcat v7.0 Server at localhost-config/context.xml
Servers/Tomcat v7.0 Server at localhost-config/server.xml
Servers/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v7.0 Server at localhost-config/web.xml
IfsCarsService/WebContent/wsdl/Garage.wsdl
IfsCarsService/WebContent/WEB-INF/server-config.wsdd
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd.bak
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd.bak
IfsCarsService/WebContent/WEB-INF/server-config.wsdd
IfsCarsService/WebContent/wsdl/Garage.wsdl
IfsCarsService/WebContent/wsdl/Garage.wsdl
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd
IfsCarsService/WebContent/WEB-INF/GarageService/fr/uge/webServices/project/deploy.wsdd.bak
IfsCarsService/WebContent/WEB-INF/server-config.wsdd
